<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Mail verification success</title>
</head>
<body>
  <section>
      <p>
        Thanks for registering. Welcome to I-Tallenta! Please enjoy.
        <a href="https://i-tallenta.vercel.app">Click here to back to main page</a> 
      </p>
  </section>
</body>
</html>